//
//  Config-Debug.xcconfig
//  WikiPlaces
//
//  Created by Roel Spruit on 17/10/2024.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

LOCATION_JSON_URL = raw.githubusercontent.com/abnamrocoesd/assignment-ios/main/locations.json
